.artist {

  &Hero {
    height: 650px;
    position: relative;
    overflow: hidden;

    &Img {
      width: 100%;
      height: 100%;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &Deg {
      height: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      background: linear-gradient(180.61deg, rgba(255, 255, 255, 0) 1.35%, #000000 98.64%);
      transition: all 0.3s;
      z-index: 1;
    }

    &Name {
      width: 1000px;
      margin: auto;
        position: absolute;
        bottom: 15px;
        left: 25px;
        right: 10px;
        z-index: 2;
        color: #FFF;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
  }

.contentContainer {
  max-width: 1000px;
  margin: auto;

  .artistRelated {
    margin-top: 15px;
    overflow: auto;
    display: flex;

    .related {
      width: 125px;
      height: 125px;
      flex-shrink: 0;
      border-radius: 15px;
      margin-right: 10px;
      overflow: hidden;
      margin-bottom: 5px;
      position: relative;
      cursor: pointer;

      &:hover .relatedImg img {
        transform: scale(1.02);
        filter: brightness(1);
      }

      &Img {
        width: 100%;
        height: 100%;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover !important;
          filter: brightness(0.35);
          transition: all 0.3s;
        }
      }

      h3 {
        position: absolute;
        font-size: 18px;
        bottom: 5px;
        left: 15px;
        right: 15px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        z-index: 3;
      }

    }

  }

  .artistRelated::-webkit-scrollbar {
    -webkit-appearance: none;
  }
  
  .artistRelated::-webkit-scrollbar:vertical {
    width:5px;
  }
  
  .artistRelated::-webkit-scrollbar-button:increment,.artistRelated::-webkit-scrollbar-button {
    display: none;
  } 
  
  .artistRelated::-webkit-scrollbar:horizontal {
    height: 10px;
  }
  
  .artistRelated::-webkit-scrollbar-thumb {
    background-color: rgba(204, 204, 204, 0.35);
    border-radius: 2px;
  }
  
  .artistRelated::-webkit-scrollbar-track {
    border-radius: 5px;
  }

  .albumsArtist {
    display: flex;
    overflow: auto;

    .album {
      width: 250px;
      height: 250px;
      flex-shrink: 0;
      margin-right: 25px;
      margin-bottom: 5px;
      border-radius: 25px;
      overflow: hidden;

      &Img {
        width: 100%;
        height: 100%;

        img {
          width: 100%;
          object-fit: cover;
        }
      }
    }
  }

  .albumsArtist::-webkit-scrollbar {
    -webkit-appearance: none;
  }
  
  .albumsArtist::-webkit-scrollbar:vertical {
    width:5px;
  }
  
  .albumsArtist::-webkit-scrollbar-button:increment,.albumsArtist::-webkit-scrollbar-button {
    display: none;
  } 
  
  .albumsArtist::-webkit-scrollbar:horizontal {
    height: 10px;
  }
  
  .albumsArtist::-webkit-scrollbar-thumb {
    background-color: rgba(204, 204, 204, 0.35);
    border-radius: 2px;
  }
  
  .albumsArtist::-webkit-scrollbar-track {
    border-radius: 5px;
  }

}
}

@media screen and (max-width: 1000px) {
  .contentContainer h4 {
    margin-left: 15px;
  }
}

@media screen and (max-width: 450px) {
  .artistHero {
    height: 350px;
  }
}